{% extends 'cms/base.html' %}
{% load static %}
{% block title %}
Catalog
{% endblock %}
{% block content %}
<div class="container py-4">
  <div class="row row-cols-1 row-cols-lg-4 g-4" id="row">
    {% if courses %}
      {% for course in courses%}

        <div class="col-md-6 col-lg-4">
          <div class="card h-100 w-100">
          <img src="{{course.CourseImage}}" alt="image" >
          <div class="card-body">
              <h5 class="card-title" style="text-align: center;">{{course.CourseName}}</h5>
              <p class="card-text">{{course.Desc}}</p>
              <a href="#" class="btn btn-primary">Edit course</a>
          </div>
          </div> 
        </div>

      {% endfor %}
    {% else %}
      <h4 class="text-center alert alert-warning">No Records Found</h4>
    {% endif %}
  </div>
</div>
  <script src="{% static 'js/app.js' %}">
{% endblock %}
